<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div
      id="mf_placeholder"
      data-formurl="https://littleeaglefootball.forms-db.com/embed.php?id=11477"
      data-formheight="6315"
      data-formtitle="2019 Football & Cheer Registration Copy"
      data-paddingbottom="10"
    ></div>
    <script>
      ;(function(f, o, r, m) {
        r = f.createElement('script')
        r.async = 1
        r.src = o + 'js/mf.js'
        m = f.getElementById('mf_placeholder')
        m.parentNode.insertBefore(r, m)
      })(document, 'https://littleeaglefootball.forms-db.com/')
    </script>
  </body>
</html>
